* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.content {
  font-size: 1rem;
}

.content h1 {
  margin: 0;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon {
  padding: 1.2rem;
  margin: 0.5rem;
  background-color: rgb(21, 173, 123);
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemon .number {
  color: #ffffffbd;
  opacity: 0.7;
  text-align: right;
}

.pokemon .name {
  margin-bottom: 0.25rem;
}

.pokemon .types {
  list-style: none;
}

.datails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.datails .types .type {
  background-color: rgba(255, 255, 255, 0.37);
  color: rgb(255, 255, 255);
  padding: 0.3rem;
  font-size: 0.70rem;
  margin: 0.4rem 0;
  border-radius: 0.7rem;
}

.pokemon .datails img {
  max-width: 6rem;
  display: flex;
  align-self: flex-end;
}
